/* common shared style */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Merriweather', serif;
}
.primary-color {
    color: #F00;
}
.primary-btn {
    padding: 16px 32px;
    background-color: #F00;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
 main section {
    margin-top: 100px;
}
/* banner style */
.banner {
    background-image: url('./image/resources/Banner Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 0 auto;
    
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
}
.banner-content {
    padding-top: 150px;
}
.banner-tittle {
    color: #FFF;
    font-size: 32px;
    text-align: center;

}
.banner-tittle2 {
    color: #FFF;
font-size: 72px;
font-weight: 900;
text-align: center;
/* line-height: 95px; 131.944% */
}
/* main section work started */
.main {
    text-align: center;
    padding-top: 100px;
}
.red-block{
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 34px;
}
.section-content >h5{
font-size: 24px;
font-weight: 500;
}
.section-content, .black-block {
    color: #070211;
font-size: 48px;
font-weight: 700;
padding: 20px 0px 45px 0;
}
/* welcome section start */
.welcome {
    display: flex;
    background-image: url('./image/resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 100px auto;
    background-position: center;
}
.welcome-content {
    justify-content: space-between;
    padding: 160px 125px;
}
.welcome-tittle {
    color: #FFF;
font-size: 64px;
font-weight: 900;
letter-spacing: 7.04px;
}
.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    line-height: 30px; /* 166.667% */
    padding: 20px 0px 45px 0px;
}
.welcome-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.welcome-img{
    padding-top: 60px;
    width: 319.83px;
    height: 464.662px;
}
/* contact section start */
.contact {
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 0 auto;
}
.contact-content {
    text-align: center;
}
.contact-list {
    color: #F00;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}
.little-black {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding: 100px 0 48px 0;
}
/* offer-section start */
.offer-section {
    display: flex;
    gap: 24px;
    width: 1320px;
    height: 482px;
    margin: 100px auto;
    background-color: white;
    justify-content: space-around;

}
.offer-des {
    padding: 0px 0 40px 0;
}
.offer-img{
    width: 364.844px;
    height: 364.844px;
    border-radius: 50%;
    border: 10px solid #F00;
}
/* holiday section */
.holiday-section {
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    text-align: center;  
}
/* portfolio section */
.portfolio-section {
    width: 1320px;
    height: 1182px;
    margin: 50px auto;
}
.portfolio-section p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px; /* 160% */
    padding-bottom: 20px;
}
.first-portfolio, .second-portfolio img {
    border-radius: 16px;
}
/* subscribe section */
.subscribe {
    width: 1320px;
    height: 616px;
    margin: 60px auto;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.subscribe-form {
    display: flex;
    justify-content: center;
    
}
/* footer section start */
.footer {
    background: rgb(201, 86, 86);
    /* width: 1600px; */
    height: 609px;
    margin-top: 40px;
}
.footer-head {
    display: flex;
    justify-content: space-around;
}
.footer-img {
    display: flex;
    justify-content: center;
}
.footer-foot {
    display: flex;
    justify-content: space-around;
}
.f-content {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}